
{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>青少年人生之旅</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>

<body>
<div class="main">
	<div class="logo"><img src="{% static 'images/logo.png' %}" alt="logo"></div>
	<div class="menu">
		<div class="btnNews">
			<div class="text">個人資料</div>
			<div class="icon"><a href="/profile"><img src="{% static 'images/btnInfo.png' %}" alt="Info"></a></div>
		</div>
		<div class="btnInfo">
			<div class="text">登 出</div>
			<div class="icon"><a href="/accounts/logout?next=/"><img src="{% static 'images/btnMap.png' %}" alt="Map"></a></div>
		</div>
		<!-- Following are orignal code -->
		<!-- <div class="btnNews">
			<div class="text">流 程</div>
			<div class="icon"><a href="/news"><img src="{% static 'images/btnNews.png' %}" alt="News"></a></div>
		</div> -->
		<!-- <div class="btnInfo">
			<div class="text">個人資料</div>
			<div class="icon"><a href="/profile"><img src="{% static 'images/btnInfo.png' %}" alt="Info"></a></div>
		</div>
		<div class="btnStock">
			<div class="text">地 圖</div>
			<div class="icon"><a href="/booths"><img src="{% static 'images/btnMap.png' %}" alt="Map"></a></div>
		</div>

		<div class="btnIndex">
			<div class="text">守 則</div>
			<div class="icon"><a href="/rules"><img src="{% static 'images/btnContact.png' %}" alt="Contact"></a></div>
		</div>
		<div class="btnMap">
			<div class="text">聯 絡</div>
			<div class="icon"><a href="/contact"><img src="{% static 'images/btnIndex.png' %}" alt="Contact"></a></div>
		</div>
		<div class="btnContact">
			<div class="text">登 出</div>
			<div class="icon"><a href="/accounts/logout?next=/"><img src="{% static 'images/btnMap.png' %}" alt="Map"></a></div>
		</div> -->
		<!--<div class="btnContact">
			<div class="text">聯 絡</div>
			<div class="icon"><a href="/contact"><img src="{% static 'images/btnIndex.png' %}" alt="Contact"></a></div>
		</div> -->
	
	</div>
	
	<div class="footer">
		
		<img src="{% static 'images/footer.png' %}" alt="footer">
	</div>
	
</div>
	
	

</body>
</html>