{% extends 'base.html' %}
{% csrf_token %}
{% load render_table from django_tables2 %}
{% block content %}
    
<!-- Content Row -->
<div class="row">
  <div class="col-md-12">
      <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-secondary shadow">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                    姓名</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ player.user }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                    分數</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ scores.overall_score }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                    參與記錄</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{% render_table participations %}</div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            
              <!-- Earnings (Monthly) Card Example -->
              <!-- <div class="col-xl-3 col-md-6 mb-4 col-6">
                  <div class="card border-left-primary shadow">
                      <div class="card-body">
                          <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                      金錢</div>
                                  <div class="h6 mb-0 font-weight-bold text-gray-800">${{ scores.money }}</div>
                              </div>
                              <div class="col-auto">
                                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> -->

              <!-- Earnings (Monthly) Card Example -->
              <!-- <div class="col-xl-3 col-md-6 mb-4 col-6">
                  <div class="card border-left-success shadow">
                      <div class="card-body">
                          <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    健康指數
                                  </div>
                                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ scores.health_score }}</div>
                              </div>
                              <div class="col-auto">
                                  <i class="fas fa-heart fa-2x text-gray-300"></i>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> -->

              <!-- Earnings (Monthly) Card Example -->
              <!-- <div class="col-xl-3 col-md-6 mb-4 col-6">
                  <div class="card border-left-info shadow">
                      <div class="card-body">
                          <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    學業指數
                                  </div>
                                  <div class="row no-gutters align-items-center">
                                      <div class="col-auto">
                                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ scores.academic_score }}</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-auto">
                                  <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> -->

              <!-- Pending Requests Card Example -->
              <!-- <div class="col-xl-3 col-md-6 mb-4 col-6">
                  <div class="card border-left-warning shadow">
                      <div class="card-body">
                          <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    成長指數
                                  </div>
                                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ scores.growth_score }}</div>
                              </div>
                              <div class="col-auto">
                                  <i class="fas fa-seedling fa-2x text-gray-300"></i>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> -->
              
              <!-- Pending Requests Card Example -->
              <!-- <div class="col-xl-3 col-md-6 mb-4 col-6">
                <div class="card border-left-dark shadow">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                  關係指數
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ scores.relationship_score }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
              </div> -->

              
              <!-- Pending Requests Card Example -->
              <!-- <div class="col-xl-3 col-md-6 mb-4 col-6">
                <div class="card border-left-danger shadow">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                  開心指數
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ scores.joy_score }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-smile-wink fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
              </div> -->

              <!-- <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-secondary shadow">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                    Earnings (Monthly)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
              </div> -->

          </div>
          </div>

      </div>
  </div>
</div>
{% endblock %}