{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>青少年人生之旅</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>

<body>
<div class="sub">
    <div class="logo"><a href="/oc"><img src="{% static 'images/logo.jpg' %}" alt="logo"></a></div>
    
    <div class="subContent" style='background:white'>
        <div class="contentInfo">
            <div class="contentNews title">參與記錄</div>
			<div class="contentNews bar">
				<div class="contentNews bar1" style="width:30%"></div>
				<div class="contentNews bar2" style="width:70%"></div>
			</div>

            <div class="contentNews content1">
                <div class="content1" style="width:30%">攤位</div>
                    <div class="content2" style="width:70%">{{ participation.booth.name }}</div>
            </div>
            <div class="contentNews content1">
                <div class="content1" style="width:30%">記錄時間</div>
                    <div class="content2" style="width:70%">{{ participation.record_time|date:"d M H:i" }}</div>
            </div>
            <div class="contentNews content1">
                <div class="content1" style="width:30%">分數</div>
                    <div class="content2" style="width:70%">{{ participation.score }}</div>
            </div>            

            
            <div class="contentNews title">分數改變</div>
			<div class="contentNews bar">
				<div class="contentNews bar1" style="width:30%">指數</div>
				<div class="contentNews bar2" style="width:70%">得分</div>
			</div>
            {% for k, v in scores.items %}
            <div class="contentNews content1">
                <div class="content1" style="width:30%">{{ k }}</div>
                <div class="content2" style="width:70%">{{ v }}</div>
            </div>
            {% endfor %}
		</div>
    </div>
</div>
       
	<div class="footer">
		
		<div><a href="/oc"><h4 style="text-align: center;">返回主目錄</h4></a></div>
		<!-- <img src="{% static 'images/footer.png' %}" alt="footer"> -->
	</div>
	 
</div>

</body>
