
{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>青少年人生之旅</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>

<body>
<div class="main">
	<div class="logo"><img src="{% static 'images/logo.jpg' %}" alt="logo"></div>
	{% if config.ANNOUNCEMENT != "" %}
	<div class="contentNews bar">
		<div class="contentNews bar1" style='width:100%'>公告: {{ config.ANNOUNCEMENT }}</div>
	</div>
	{% endif %}
	<div class="menu">
		<div class="btnNews">
			<div class="text">個人資料</div>
			<div class="icon"><a href="/player/{{ user_id }}/profile"><img src="{% static 'icons/profile.png' %}" alt="Info"></a></div>
		</div>

		<div class="btnInfo">
			<div class="text">流 程</div>
			<div class="icon"><a href="/player/{{ user_id }}/news"><img src="{% static 'icons/rundown.png' %}" alt="News"></a></div>
		</div>

		<div class="btnStock">
			<div class="text">地 圖</div>
			<div class="icon"><a href="/player/{{ user_id }}/map"><img src="{% static 'icons/map.png' %}" alt="Map"></a></div>
		</div>

		<div class="btnIndex">
			<div class="text">新 聞</div>
			<div class="icon"><a href="/player/{{ user_id }}/news"><img src="{% static 'icons/news.png' %}" alt="Contact"></a></div>
		</div>

		<div class="btnMap">
			<div class="text">成就榜</div>
			<div class="icon"><a href="/player/{{ user_id }}/score_list"><img src="{% static 'icons/ranking.png' %}" alt="Contact"></a></div>
		</div>

		<div class="btnContact">
			<div class="text">富豪榜</div>
			<div class="icon"><a href="/player/{{ user_id }}/rich_list"><img src="{% static 'icons/ranking_money.png' %}" alt="Map"></a></div>
		</div>
		<div class="btnIndex">
			<div class="text">守 則</div>
			<div class="icon"><a href="/player/{{ user_id }}/rules"><img src="{% static 'icons/rules.png' %}" alt="Contact"></a></div>
		</div>
		<div class="btnMap">
			<div class="text">聯 絡</div>
			<div class="icon"><a href="/player/{{ user_id }}/contact"><img src="{% static 'icons/contacts.png' %}" alt="Contact"></a></div>
		</div>
		<!-- <div class="btnContact">
			<div class="text">登 出</div>
			<div class="icon"><a href="accounts/logout?next=/"><img src="{% static 'images/btnLogout.png' %}" alt="Contact"></a></div>
		</div> -->
	</div>
	
	<div class="footer">
		
		<img src="{% static 'ximages/footer.png' %}" alt="footer">
	</div>
	
</div>
	
	

</body>
</html>