{% load static %}
{% load render_table from django_tables2 %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>青少年人生之旅</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>

<body>
<div class="sub">
	
	{% if encrypted_id %}
	<div class="logo"><a href="/player/{{ encrypted_id }}"><img src="{% static 'images/logo.jpg' %}" alt="logo"></a></div>
	{% else %}
	<div class="logo"><a href="/"><img src="{% static 'images/logo.jpg' %}" alt="logo"></a></div>
	{% endif %}
	{% if config.ANNOUNCEMENT != "" %}
	<div class="contentNews bar">
		<div class="contentNews bar1" style='width:100%'>公告: {{ config.ANNOUNCEMENT }}</div>
	</div>
	{% endif %}

	{% if is_instructor %}
	<div class="contentNews bar">
		<div class="contentNews bar1" style='width:100%'><a href='/player/{{ encrypted_id }}/instructor'> 組別{{ group_id }}</a></div>
	</div>
	{% endif %}
	<div class="subContent">
		<div class="titleInfo">
			<div class="infoIcon"><img src="{% static 'images/info.png' %}" alt="logo"></div>
			<div class="infotext">{{ player }}</div>
			<div class="iconHome"></div>
	
		</div>
		<div class="contentInfo">
			<div class="contentInfo title">個人資料</div>
			<div class="contentInfo content">
				<div class="contentInfo content left">編號</div>
				<div class="contentInfo content right">{{ player.user.get_id }}</div>
			</div>
			<div class="contentInfo content">
				<div class="contentInfo content left">姓名</div>
				<div class="contentInfo content right">{{ player.user.last_name }}{{ player.user.first_name }}</a></div>
			</div>
			<div class="contentInfo content">
				{% if player.user.user_type == 'student' %}
				<div class="contentInfo content left">學校</div>
				{% else %}
				<div class="contentInfo content left">屬會</div>
				{% endif %}
				<div class="contentInfo content right">{{ player.user.school }}</a></div>
			</div>
			<!-- Scores breakdown -->
			<div class="contentNews title">分數</div>

            <div class="contentNews bar">
                <div class="contentNews bar1"  style="width:60%">攤位</div>
                <div class="contentNews bar3"  style="width:40%">分數</div>
            </div>
			
			<div class="contentNews content1">
				<div class="content1" style="width:60%">總得分</div>
				<div class="content3" style="width:40%">{{ scores.total_score }}</a></div>
			</div>
			<div class="contentNews content1">
                <div class="content1" style="width:60%">教育程度</div>
                <div class="content3" style="width:40%"> 
					{% if scores.academic_level == 1 %} 小學
					{% elif scores.academic_level == 2 %} 中學
					{% elif scores.academic_level == 3 %} 文憑
					{% elif scores.academic_level == 4 %} 大學
					{% endif %}
				</div>
            </div>
			<div class="contentNews content1">
				<div class="content1" style="width:60%">出生狀態</div>
				<div class="content3" style="width:40%">{{ player.born_status.name }}</a></div>
			</div>
			<div class="contentNews content1">
				<div class="content1" style="width:60%">金錢</div>
				<div class="content3" style="width:40%">{{ scores.money }}</a></div>
			</div>

			<div class="contentNews content1">
                <div class="content1" style="width:60%">健康指數</div>
                <div class="content3" style="width:40%"> {{ scores.health_score }}</div>
            </div>
			<div class="contentNews content1">
                <div class="content1" style="width:60%">投能指數</div>
                <div class="content3" style="width:40%"> {{ scores.skill_score }}</div>
            </div>
			<div class="contentNews content1">
                <div class="content1" style="width:60%">成長指數</div>
                <div class="content3" style="width:40%"> {{ scores.growth_score }}</div>
            </div>
			<div class="contentNews content1">
                <div class="content1" style="width:60%">關係指數</div>
                <div class="content3" style="width:40%"> {{ scores.relationship_score }}</div>
            </div>

			<!-- Participation records -->
            <div class="contentNews title">參與記錄</div>

            <div class="contentNews bar">
                <div class="contentNews bar1"  style="width:50%">攤位</div>
                <div class="contentNews bar3"  style="width:30%">評分</div>
                <div class="contentNews bar3"  style="width:20%">時間</div>
            </div>
            
            {% for participation in participations %}
            <div class="contentNews content1">
                <div class="content1" style="width:50%; font-size:12px"> {{ participation.booth }}</div>
                <div class="content3" style="width:30%; font-size:12px"> {{ participation.score }}</div>
                <div class="content3" style="width:20%; font-size:12px"> {{ participation.get_time }}</div>
            </div>
            {% endfor %}


            <!-- <div class="contentNews title">瀏覽記錄</div>
            <div class="contentNews bar">
                <div class="contentNews bar1">時間</div>
                <div class="contentNews bar2">攤位</div>
            </div>
            
            {% for v in visits %}
            <div class="contentNews content1">
                <div class="content1"> {{ v.record_time|time:"h:i" }}</div>
                <div class="content2"> {{ v.booth }}</div>
            </div>
            {% endfor %} -->
		</div>
	</div>
	
	
	<div class="footer">
		{% if encrypted_id %}
		<div><a href="/player/{{ encrypted_id }}"><h4 style="text-align: center;">返回主目錄</h4></a></div>
		{% else %}
		<div><a href="/"><h4 style="text-align: center;">返回主目錄</h4></a></div>
		{% endif %}
		<!-- <img src="{% static 'images/footer.png' %}" alt="footer"> -->
	</div>
	
</div>
	
	

</body>
</html>

