{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>青少年人生之旅</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>

<body>
<div class="sub">

	{% if encrypted_id %}
	<div class="logo"><a href="/player/{{ encrypted_id }}"><img src="{% static 'images/logo.jpg' %}" alt="logo"></a></div>
	{% else %}
	<div class="logo"><a href="/oc"><img src="{% static 'images/logo.jpg' %}" alt="logo"></a></div>
	{% endif %}
	{% if config.ANNOUNCEMENT != "" %}
	<div class="contentNews bar">
		<div class="contentNews bar1" style='width:100%'>公告: {{ config.ANNOUNCEMENT }}</div>
	</div>
	{% endif %}
	<div class="subContent">
		<div class="contentContact">
			<div class="contentInfo title">學生需知</div>
			<div class="contentInfo content">
				<ol>
					<li>人生之旅為兩日一夜的宿營活動，學生需參與整個遊戲</li>
					<li>學生未經批准，不得擅自離開營地</li>
					<li>人生之旅過程體驗人生成敗及貧富，學生需有心理準備接受挑戰</li>
					<li>請將電話、充電器及貴重物品跟身，其剩行李放在禮堂2</li>
					<li>為確保行李安全，禮堂2進出需要登記</li>
					<li>營內有其他人士，請保持尊重及禮讓</li>
					<li>如有任何問題或不適，請聯絡你的小組導師或附近的工作人員</li>
				</ol>
				
			</div>
		</div>
		</div>
	</div>
	
	
	<div class="footer">
		{% if encrypted_id %}
		<div><a href="/player/{{ encrypted_id }}"><h4 style="text-align: center;">返回主目錄</h4></a></div>
		{% else %}
		<div><a href="/oc"><h4 style="text-align: center;">返回主目錄</h4></a></div>
		{% endif %}
		<!-- <img src="{% static 'images/footer.png' %}" alt="footer"> -->
	</div>
	
</div>
	
	

</body>
</html>
