{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>青少年人生之旅</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>

<body>
<div class="sub">

	{% if encrypted_id %}
	<div class="logo"><a href="/player/{{ encrypted_id }}"><img src="{% static 'images/logo.jpg' %}" alt="logo"></a></div>
	{% else %}
	<div class="logo"><a href="/"><img src="{% static 'images/logo.jpg' %}" alt="logo"></a></div>
	{% endif %}
	{% if config.ANNOUNCEMENT != "" %}
	<div class="contentNews bar">
		<div class="contentNews bar1" style='width:100%'>公告: {{ config.ANNOUNCEMENT }}</div>
	</div>
	{% endif %}
	<div class="subContent">
		<div class="contentContact">
			<div class="contentInfo title">流程</div>
			<div class="contentInfo content">
				<div class="contentNews title">第一天 (18/3)</div>
				<div class="contentNews bar">
					<div class="contentNews bar1" style='width:30%'>時間</div>
					<div class="contentNews bar3" style='width:20%'>地點</div>
					<div class="contentNews bar3" style='width:50%'>內容</div>
				</div>
				<div class="contentNews content1">
					<div class="content1" style='width:30%'>13:00 - 15:00</div>
					<div class="content1" style='width:20%'>大禮堂</div>
					<div class="content3" style='width:50%'>開幕典禮、遊戲簡介、小組討論</div>
				</div>
				<div class="contentNews content1">
					<div class="content1" style='width:30%'>15:00 - 17:30</div>
					<div class="content1" style='width:20%'>營地</div>
					<div class="content3" style='width:50%'>遊戲時段1</div>
				</div>
				<div class="contentNews content1">
					<div class="content1" style='width:30%'>17:30 - 17:45</div>
					<div class="content1" style='width:20%'>大禮堂</div>
					<div class="content3" style='width:50%'>返回大禮堂</div>
				</div>
				<div class="contentNews content1">
					<div class="content1" style='width:30%'>17:45 - 18:00</div>
					<div class="content1" style='width:20%'>大禮堂</div>
					<div class="content3" style='width:50%'>獅城特首選舉 - 點票</div>
				</div>
				<div class="contentNews content1">
					<div class="content1" style='width:30%'>18:00 - 19:30</div>
					<div class="content1" style='width:20%'>大禮堂</div>
					<div class="content3" style='width:50%'>選舉結果、小組討論</div>
				</div>
				<div class="contentNews content1">
					<div class="content1" style='width:30%'>19:30 - 21:00</div>
					<div class="content1" style='width:20%'>BBQ區</div>
					<div class="content3" style='width:50%'>晚餐</div>
				</div>
				<div class="contentNews content1">
					<div class="content1" style='width:30%'>21:00 - 21:30</div>
					<div class="content1" style='width:20%'>禮堂2</div>
					<div class="content3" style='width:50%'></div>
				</div>
			</div>
		</div>
		</div>
	</div>
	
	
	<div class="footer">
		{% if encrypted_id %}
		<div><a href="/player/{{ encrypted_id }}"><h4 style="text-align: center;">返回主目錄</h4></a></div>
		{% else %}
		<div><a href="/"><h4 style="text-align: center;">返回主目錄</h4></a></div>
		{% endif %}
		<!-- <img src="{% static 'images/footer.png' %}" alt="footer"> -->
	</div>
	
</div>
	
	

</body>
</html>
