{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>青少年人生之旅</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>

<body>
<div class="sub">
    <div class="logo"><a href="/oc"><img src="{% static 'images/logo.jpg' %}" alt="logo"></a></div>
    <a href='/oc/booth/{{ booth.id }}'>
        <div class="contentNews bar">
            <div class="contentNews bar1" style='width:100%'>{{ booth.id }}</div>
        </div>
    </a>
    <div class="subContent" style='background:white'>
        <form action="/oc/booth/{{ booth.id }}/settings/{{ booth_scoring.id }}" method="post">
        {% csrf_token %}
        <div class="contentInfo">
            <div class="contentNews title">攤位分數選項</div>
			<div class="contentNews bar">
				<div class="contentNews bar1" style="width:30%">指標</div>
				<div class="contentNews bar2" style="width:70%">分數</div>
			</div>
            {% for field in form %}
                <div class="contentNews content1">
                    
                    {% if field.name == "booth" or field.name == "active" %}
                        <div class="content1" style="width:70%;display:None">{{ field|attr:"disabled:disabled" }}</div>
                        <div class="content2" style="display:None">{{ field }}</div>
                    {% elif field.name == "flat" %}
                        {% if 'C4' in booth.id %}
                            <div class="content2" style="width:70%;display:None">{{ field|attr:"disabled:disabled" }}</div>
                            <div class="content2" style="display:None">{{ field }}</div>
                        {% endif %}
                    {% else %}
                        <div class="content1" style="width:30%">{{ field.label_tag }}</div>
                        <div class="content2" style="width:70%">{{ field }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="btn"><input src="{% static 'images/yolo.png' %}" style="height:100px;width:100px" type="image" /></div>
		</div>
        </form>
        
    </div>
</div>
       
	<div class="footer">
		
		<div><a href="/oc"><h4 style="text-align: center;">返回主目錄</h4></a></div>
		<!-- <img src="{% static 'images/footer.png' %}" alt="footer"> -->
	</div>
	 
</div>

</body>

{% if messages %}
    {% for message in messages %}
    <script>
        alert("{{ message }}");
        window.location.href = "/oc/booth/{{ booth.id }}/traffics";
    </script>  

    {% endfor %}
{% endif %}