
{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>青少年人生之旅</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>

<body>
<div class="main">
    <div class="logo"><a href="/oc"><img src="{% static 'images/logo.jpg' %}" alt="logo"></a></div>
	{% if config.ANNOUNCEMENT != "" %}
	<div class="contentNews bar">
		<div class="contentNews bar1" style='width:100%'>公告: {{ config.ANNOUNCEMENT }}</div>
	</div>
	{% endif %}

	<a href='/oc/booth/{{ booth.id }}'>
		<div class="contentNews bar">
			<div class="contentNews bar1" style='width:100%'>{{ booth }}</div>
		</div>
	</a>
	<div class="menu">
		<div class="btnNews">
			<div class="text">登記玩家</div>
			<div class="icon"><a href="check_player"><img src="{% static 'icons/input_booth_score.png' %}" alt="News"></a></div>
		</div>
		<div class="btnInfo">
			<div class="text">登記記錄</div>
			<div class="icon"><a href="/oc/booth/{{ booth.id }}/participations"><img src="{% static 'icons/booth_record.png' %}" alt="Info"></a></div>
		</div>
		<div class="btnStock">
			<div class="text">攤位設置</div>
			<div class="icon"><a href="/oc/booth/{{ booth.id }}/settings"><img src="{% static 'icons/setting.png' %}" alt="Map"></a></div>
		</div>
		<div class="btnIndex">
			<div class="text">付 款</div>
			<div class="icon"><a href="/oc/booth/{{ booth.id }}/transaction/pay"><img src="{% static 'icons/money_pay.png' %}" alt="Contact"></a></div>
		</div>
		<div class="btnMap">
			<div class="text">收 款</div>
			<div class="icon"><a href="/oc/booth/{{ booth.id }}/transaction/receive"><img src="{% static 'icons/money_receive.png' %}" alt="Contact"></a></div>
		</div>
		<div class="btnContact">
			<div class="text">交易記錄</div>
			<div class="icon"><a href="/oc/booth/{{ booth.id }}/transactions"><img src="{% static 'icons/balance_sheet.png' %}" alt="Map"></a></div>
		</div>

		<!-- BANK -->
		{% if 'G1' in booth.id %}
		<div class="btnIndex">
			<div class="text">存 款</div>
			<div class="icon"><a href="/oc/booth/{{ booth.id }}/transaction/deposit"><img src="{% static 'icons/money_pay.png' %}" alt="Contact"></a></div>
		</div>
		<div class="btnMap">
			<div class="text">提 款</div>
			<div class="icon"><a href="/oc/booth/{{ booth.id }}/transaction/withdrawal"><img src="{% static 'icons/money_receive.png' %}" alt="Contact"></a></div>
		</div>
		{% endif %}
	</div>
		
	<div class="footer">
		<div><a href="/oc"><h4 style="text-align: center;">返回主目錄</h4></a></div>
		<!-- <img src="{% static 'images/footer.png' %}" alt="footer"> -->
	</div>

</div>
	

</body>
</html>