{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>青少年人生之旅</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>

<body>
<div class="sub">
    <div class="logo"><a href="/"><img src="{% static 'images/logo.png' %}" alt="logo"></a></div>
    <a href='/oc/booth/{{ booth.id }}'>
        <div class="contentNews bar">
            <div class="contentNews bar1" style='width:100%'>{{ booth.id }} - {{ booth.name }}</div>
        </div>
    </a>
    
    <div class="subContent" style='background:#b9d7bb'>
        
        
        <form action="/oc/booth/{{ booth.id }}/register/{{ user.id }}" method="post">
        {% csrf_token %}
        <div class="contentInfo">
            <div class="contentNews title">登記玩家</div>
			<div class="contentNews bar">
				<div class="contentNews bar1" style="width:30%">玩家</div>
				<div class="contentNews bar2" style="width:70%">時間</div>
			</div>
            {% for field in form %}
                <div class="contentNews content1">
                    <div class="content1" style="width:30%">{{ field.label_tag }}</div>
                    {% if field.name == "booth" or field.name == "player" or field.name == "marker" %}
                        <div class="content2" style="width:70%">{{ field|attr:'disabled="true"' }}</div>
                    {% else %}
                        <div class="content2" style="width:70%">{{ field }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="btn"><input src="{% static 'images/btnGo.png' %}" type="image" /></div>
		</div>
        </form>
        
    </div>
</div>
       
	<div class="footer">
		
		<img src="{% static 'images/footer.png' %}" alt="footer">
	</div>
	 
</div>

</body>

{% if messages %}
    {% for message in messages %}
    <script>
        alert("{{ message }}");
        window.location.href = "/oc/booth/{{ booth.id }}/traffics";
    </script>  

    {% endfor %}
{% endif %}