{% load static %}
<!doctype html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<meta charset="utf-8">
<title>青少年人生之旅</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

</head>

<body>
<div class="sub">
    <div class="logo"><a href="/oc"><img href='/' src="{% static 'images/logo.jpg' %}" alt="logo"></a></div>
    <a href='/oc/booth/{{ booth.id }}'>
        <div class="contentNews bar">
            <div class="contentNews bar1" style='width:100%'>{{ booth.id }}</div>
        </div>
    </a>
    <div class="subContent">
        <div class="contentInfo" style="padding-bottom: 0px; margin-bottom: 0px">
            <div class="contentNews title"></div>
			<div class="contentNews bar">
				<div class="contentNews bar1" style='width:100%'>掃描QR code</div>
			</div>
            
            <div id='error_msg' class="contentNews content1" style="color:red;display:none" hidden>
                Error: unknown QR code
            </div>
            <div class="contentNews content1">
                <div id="reader"  style='width:100%'></div> 
            </div>
            
            
        </div>

        <div class="contentInfo" style="padding-bottom: 0px; margin-bottom: 0px">
            <div class="contentNews title"></div>
			<div class="contentNews bar">
				<div class="contentNews bar1" style='width:100%'>上載QR code</div>
			</div>
            
            <div id='error_msg_image' class="contentNews content1" style="color:red;display:none" hidden>
                Error: unknown QR code
            </div>
            <div class="contentNews content1">
                <div id="reader_image"  style='width:100%'></div> 
            </div>
        </div>
        
        <div class="contentInfo" style="padding-bottom: 0px; margin-bottom: 0px">
            <div class="contentNews title"></div>
			<div class="contentNews bar">
				<div class="contentNews bar1" style='width:100%' id>輸入學生ID</div>
			</div>
            
            <div id='error_msg_input' class="contentNews content1" style="color:red; display:None" hidden>
                請輸入學生ID
            </div>
            <div class="contentNews content1">
                
            <div class="username form-control form_control-user">
                <input style="border-left: 20px #ade0ff solid; height:47px;" type="text" id="inputId" name="username" class="usernameBox" placeholder="學生ID"></div>
                <!-- <button style="background-color: #ade0ff; height:47px;" type="button" onclick="checkPlayerButton()">Click Me!</button> -->
                <input src="{% static 'images/yolo.png' %}" style="height:50px;width:50px" type="image"  onclick="checkPlayerButton()"/>
            </div>
            
            <div class="contentNews title"></div>
        </div>
    </div>
    
	<div class="footer">
		{% if encrypted_id %}
		<div><a href="/player/{{ encrypted_id }}"><h4 style="text-align: center;">返回主目錄</h4></a></div>
		{% else %}
		<div><a href="/"><h4 style="text-align: center;">返回主目錄</h4></a></div>
		{% endif %}
		<!-- <img src="{% static 'images/footer.png' %}" alt="footer"> -->
	</div>
	
</div>

</body>
<script src="{% static 'js/html5-qrcode.min.v2.3.0.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    var scan_type = '{{ scan_type }}'
    let app = new Vue({
    //   el: "#vue-app",
      data: {
        myTitle: '<h1>Hello Vue!</h1>',
      },
    });
  
    function onScanSuccess(decodedText, decodedResult) {
        // Handle on success condition with the decoded text or result.
        console.log(`Scan result: ${decodedText}`, decodedResult);
        var scanned_encrypted_id = decodedText.substring(decodedText.lastIndexOf('/') + 1);
        checkPlayer(scanned_encrypted_id)
    }

    var html5QrcodeScanner = new Html5QrcodeScanner(
      "reader", { 
        fps: 10, 
        qrbox: 250,
        supportedScanTypes: [
            Html5QrcodeScanType.SCAN_TYPE_CAMERA
        ]});
        const html5QrCode = new Html5Qrcode("reader");
    const qrCodeSuccessCallback = (decodedText, decodedResult) => {
        /* handle success */
        var scanned_encrypted_id = decodedText.substring(decodedText.lastIndexOf('/') + 1);
        checkPlayer(scanned_encrypted_id)
    };
    const config = { fps: 10, qrbox: { width: 250, height: 250 } };

    // If you want to prefer back camera
    html5QrCode.start({ facingMode: "environment" }, config, qrCodeSuccessCallback);

    function onScanSuccessImage(decodedText, decodedResult) {
        
        // Handle on success condition with the decoded text or result.
        console.log(`Scan result: ${decodedText}`, decodedResult);
        var scanned_encrypted_id = decodedText.substring(decodedText.lastIndexOf('/') + 1);
        checkPlayer(scanned_encrypted_id)
    }

    var html5QrcodeScannerImage = new Html5QrcodeScanner(
      "reader_image", { 
        fps: 10, 
        qrbox: 250,
        supportedScanTypes: [
            Html5QrcodeScanType.SCAN_TYPE_FILE
        ]
    });
    html5QrcodeScannerImage.render(onScanSuccessImage);
    // html5QrcodeScanner.render(onScanSuccess);
</script>


<script>
    function checkPlayer(id) {
        var lastSegment = window.location.href.substring(window.location.href.lastIndexOf('/') + 1)
        var the_arr = window.location.href.split('/');
        var baseUrl  = window.location.origin;
        console.log(id);
        console.log(lastSegment);
        var scan_type = '{{ scan_type }}'
        if (scan_type == 'pay') {
            window.location.href = baseUrl + "/oc/booth/{{ booth.id }}/transaction/pay/" + id
        } else if (scan_type == 'receive') {
            window.location.href = baseUrl + "/oc/booth/{{ booth.id }}/transaction/receive/" + id
        } else {
            window.location.href = baseUrl + "/oc/booth/{{ booth.id }}/check_player/" + id
        }
    }

    function checkPlayerButton() {
        var id = document.getElementById('inputId').value;
        if (id.length > 0) {
            checkPlayer(id);
        }
    }
</script>