{% load static %}
<!doctype html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<meta charset="utf-8">
<title>青少年人生之旅</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

</head>

<body>
<div class="sub">
    <div class="logo"><a href="/"><img href='/' src="{% static 'images/logo.png' %}" alt="logo"></a></div>
    <a href='/oc/booth/{{ booth.id }}'>
        <div class="contentNews bar">
            <div class="contentNews bar1" style='width:100%'>{{ booth.id }}</div>
        </div>
    </a>
    <div class="subContent">
        <div class="contentInfo">
            <div class="contentNews title"></div>
			<div class="contentNews bar">
				<div class="contentNews bar1" style='width:100%'>掃描QR code</div>
			</div>
            
            <div id='error_msg' class="contentNews content1" style="color:red;display:none" hidden>
                Error: unknown QR code
            </div>
            <div class="contentNews content1">
                <div id="reader"  style='width:100%'></div> 
            </div>
            
            
        </div>
        
    </div>
    
	<div class="footer">
		
		<img src="{% static 'images/footer.png' %}" alt="footer">
	</div>
	
</div>

</body>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script type="text/javascript">
    let app = new Vue({
    //   el: "#vue-app",
      data: {
        myTitle: '<h1>Hello Vue!</h1>',
      },
    });
  
    function onScanSuccess(decodedText, decodedResult) {
        // Handle on success condition with the decoded text or result.
        console.log(`Scan result: ${decodedText}`, decodedResult);
        checkPlayer(decodedText)
    }

    var html5QrcodeScanner = new Html5QrcodeScanner(
      "reader", { fps: 10, qrbox: 250 });
    html5QrcodeScanner.render(onScanSuccess);
</script>


<script>
    function checkPlayer(id) {
        var lastSegment = window.location.href.substring(window.location.href.lastIndexOf('/') + 1)
        if (lastSegment != 'check_player') {
            var the_arr = window.location.href.split('/');
            the_arr.pop();
            var baseUrl = the_arr.join('/');
            window.location.href = baseUrl + "/" + id
        } else {
            window.location.href = window.location.href + "/" + id
        }
    }

    function checkPlayerButton() {
        var scan_type = '{{ type }}'
        var id = document.getElementById('inputId').value;
        if (scan_type == 'check') {
            checkPlayer(id);
        } else if (scan_type == 'pay') {
            window.location.href = baseUrl + "/oc/booth/{{ booth.id }}/pay/" + id
        }
        
    }
</script>