{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>青少年人生之旅</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>

<body>
<div class="sub">
	<div class="logo"><a href="/"><img src="{% static 'images/logo.png' %}" alt="logo"></a></div>
	<div class="subContent">
		<div class="contentInfo">
            <div class="contentNews title">攤位</div>
			<!-- <div class="contentNews sub">
				<div class="contentNews subMenu select">政策</div>
				<div class="contentNews subMenu">經濟</div>
				<div class="contentNews subMenu">...</div>
			</div> -->
			<div class="contentNews bar">
				<div class="contentNews bar1" style='width:100%'>時間</div>
			</div>
            
            {% for booth in booths %}
			<div class="contentNews content1">
				<div class="content1" style='width:100%'><a href='/oc/booth/{{ booth.id }}'>{{ booth.id }} - {{ booth.name }}</a> </div>
			</div>
            {% endfor %}
      
		</div>
	</div>
	
		
</div>
	
	

</body>
</html>
