{% extends 'base.html' %}
{% load static %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>
<div class="container">
    <div class="row">
        
        <!-- Profile Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ booth.id }} - {{ booth.name }}</h6>
                </div>
                <div class="card-body">
                    Introduction
                </div>
            </div>
        </div>
        
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">核實玩家</div>
                <div class="card-body">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">使用QR Code</h1>
                        </div>
                        <div id="reader"></div>
                        <hr>
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">使用玩家ID</h1>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="inputId" aria-describedby="emailHelp" placeholder="Enter Student ID">
                        </div>
                        <a class="btn btn-primary btn-user btn-block" onclick="checkPlayerButton()" style="color: white">
                            尋找
                        </a>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>{{ message }}</p>
    </div>
  
</div>
<script type='text/javascript'>
    var msg = "{{ message }}";
    if (msg) {
        // alert(msg);
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // // When the user clicks the button, open the modal 
        modal.style.display = "block";
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }
    }

    
</script>

<script src="{% static 'js/html5-qrcode.min.js' %}"></script>
<script>
    function checkPlayer(id) {
        var lastSegment = window.location.href.substring(window.location.href.lastIndexOf('/') + 1)
        console.log('check');
        if (lastSegment != 'check_player') {
            var the_arr = window.location.href.split('/');
            the_arr.pop();
            var baseUrl = the_arr.join('/');
            window.location.href = baseUrl + "/" + id
        } else {
            window.location.href = window.location.href + "/" + id
        }
    }

    function checkPlayerButton() {
        var id = document.getElementById('inputId').value;
        console.log(id)
        checkPlayer(id);
    }
    function onScanSuccess(qrCodeMessage) {
        // handle on success condition with the decoded message
        console.log(qrCodeMessage);
        var player_id = qrCodeMessage.substring(qrCodeMessage.lastIndexOf('/') + 1);
        console.log("Player", player_id);
        console.log('yo')
        checkPlayer(player_id);
    }

    var html5QrcodeScanner = new Html5QrcodeScanner(
        "reader", { fps: 10, qrbox: 250 });
    html5QrcodeScanner.render(onScanSuccess);
</script>
{% endblock %}