{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>青少年人生之旅</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>

<body>
<div class="sub">
	<div class="logo"><a href="/"><img src="{% static 'images/logo.png' %}" alt="logo"></a></div>
	<div class="subContent">
		<div class="contentContact">
			<div class="contentContact title"></div>
			<div class="contentContact content">
				<div class="contentContact content left">禮堂 </div>
				<div class="contentContact content right">
					
					<a href='https://extremenetworks.zoom.us/j/96967140799'>加入Zoom</a></div>

				<div class="contentContact content left">導師分組 </div>
				<div class="contentContact content right">
					
					<a href='{{ hall_link }}'>加入Zoom</a></div>
				</div>
			<div class="contentContact title">緊急聯絡</div>
			{% for contact in contacts %}
			<div class="contentContact content">
				<div class="contentContact content left">{{ contact.name }}</div>
				<div class="contentContact content right">{{ contact.contact_person }} <a href='{{ contact.url }}'>{{ contact.contact_number }}</a></div>
            </div>
			{% endfor %}
			
		</div>
	</div>
	
	
	<div class="footer">
		
		<img src="{% static 'images/footer.png' %}" alt="footer">
	</div>
	
</div>
	
	

</body>
</html>
