{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>青少年人生之旅</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>

<body>
<div class="sub">
	<div class="logo"><a href="/"><img src="{% static 'images/logo.png' %}" alt="logo"></a></div>
	<div class="subContent">
		<div class="contentContact">
			<div class="contentContact title">個人資料</div>
			<div class="contentContact content">
				<div class="contentContact content left">緊急 </div>
				<div class="contentContact content right">91231234
            </div>
			
			</div>
			<div class="contentContact content">
				<div class="contentContact content left">攤位</div>
				<div class="contentContact content right">91231234
            </div>
			
			</div>
			<div class="contentContact content">
				<div class="contentContact content left">IT</div>
				<div class="contentContact content right">90000000
            </div>
			
			</div>
			
		</div>
	</div>
	
		
</div>
	
	

</body>
</html>
