{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>青少年人生之旅</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>

<body>
<div class="sub">
	<div class="logo"><a href="/"><img src="{% static 'images/logo.png' %}" alt="logo"></a></div>
	{% if config.ANNOUNCEMENT != "" %}
	<div class="contentNews bar">
		<div class="contentNews bar1" style='width:100%'>公告: {{ config.ANNOUNCEMENT }}</div>
	</div>
	{% endif %}
	<div class="subContent">
		<div class="contentContact">
			<div class="contentInfo title">學生守則</div>
			<div class="contentInfo content">
				<div class="contentInfo content left" style='width:100%'>
					<ul>
						<li>學生必須參與以下三個時段與導師進行分享，導師將按學員表現作最後評分
							<ol>
								<li>Grounding 前設講解（上午10時30分）</li>
								<li>Debriefing 中段檢討（下午1時30分）</li>
								<li>Closing 最後總結（下午3時30分）</li>
							</ol>
						</li>
						<li>每個攤位遊玩時間約20分鐘，每節參與人數約20－30位學生</li>
						<li>當攤位已達遊玩人數上限後，攤位將會顯示紅色代表已滿，所以遊戲攤位不設中途加入，但職業的攤位除外</li>
						<li>系統登記分數需時，若未能即時檢閱分數請稍安無燥，或可向導師查詢</li>
						<li>如有任何疑難，學生可即時返回「大堂」或聯絡技術支援，尋找有關工作人員協助</li>
						<li>攤位將運用ZOOM內設問卷調查功能，如未能在指定時限內寫，將視為放棄該題的作答機會，評分準則將分類到以下
							<ol>
								<li>已參與 + 1分</li>
								<li>已參與，良好表現 + 2分</li>
								<li>已參與，超卓表現 + 3分</li>
							</ol>
						<li>部份攤位有不同評分準則，按學生完成程度評分；亦有部份攤位沒有評分準則，完成整個遊戲則可得到最高分數（3分）</li>
			</div>
		</div>
		</div>
	</div>
	
	
	<div class="footer">
		
		<img src="{% static 'images/footer.png' %}" alt="footer">
	</div>
	
</div>
	
	

</body>
</html>
